body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #262626;
  padding: 20px 0;
}

.header-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.header-item {
  color: #b3bcc5;
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin-left: 18px;
}

.aside-left {
  width: 30%;
  padding: 20px;
}

.about {
  background-color: #f8f9fa;
}

.about-content {
  padding: 0 0 0 15px;
  margin: 0;
}

.title {
  padding: 30px 0 20px 15px;
  margin: 0;
  font-style: italic;
}

.archive-items {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.article {
  width: 48%;
  height: fit-content;
  border: 2px solid #ededed;
  border-top: none;
  border-radius: 5px;
  margin-right: 17px;
}

.article:last-child {
  margin: -230px 0 20px 0;
}

.article-img {
  width: 100%;
  height: 200px;
}

.article-title,
.article-content {
  padding: 0 20px;
}

.article-link {
  padding: 0 20px;
  display: inline-block;
  margin-bottom: 30px;
  color: #4da1fe;
  text-decoration: none;
}

.aside-right {
  width: 30%;
  height: 100%;
  align-self: center;
  padding-right: 40px;
}

.login-form {
  height: 200px;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.email-input {
  border-radius: 5px 5px 0 0;
  border: 1px solid #e3e5e8;
  width: 100%;
  height: 40px;
  padding-left: 15px;
}

.password-input {
  border-radius: 0 0 5px 5px;
  border: 1px solid #e3e5e8;
  border-top: none;
  width: 100%;
  height: 40px;
  padding-left: 15px;
}

.remember-me-checkbox {
  margin: 10px 3px 10px 0;
  vertical-align: middle;
}

.remember-me-content {
  font-size: small;
  vertical-align: middle;
}

.submit-button {
  width: 100%;
  height: 25%;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  font-size: medium;
  margin-top: 10px;
}

.footer {
  background-color: #f9f9f9;
  border-top: 1px solid #f0f0f0;
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-description {
  margin: 0;
  color: #9b9b9b;
}
